Html, body, div {
    Padding: 0;
    Border: 0;
    Margin: 0;
}

.Map {
    width: 48%;
    margin-left: 24%;
}

#QOL_Key rect {
    cursor: help;
}

.timelineCircles circle {
    cursor: pointer;
}

.closeButton {
    cursor: pointer;
}





